@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}
.oswald {
  font-family: "Oswald", sans-serif;
}
.title {
  font-size: 45px;
  font-weight: 700;
  color: #2d5016;
  font-family: "Oswald", sans-serif;
}
.subTitle {
  font-size: 17px;
  font-weight: 400;
  color: gray;
  max-width: 500px;
  text-align: center;
}
.green {
  color: #2d5016;
}
section {
  max-width: 1350px;
  margin: auto;
}
